// ------------------------------------------------------------------------- //
// FONTS
// ------------------------------------------------------------------------- //
@font-face {
  font-family: 'ArialRegular';
  font-style: normal;
  src: url('../fonts/Arial.woff') format('woff');
}

@font-face {
  font-family: 'OswaldLight';
  font-style: normal;
  src: url('../fonts/Oswaldlight.woff') format('woff');
}
