// ------------------------------------------------------------------------- //
// MIXINS

// 01 CONTAINER
// 02 ELLIPSIS

// ------------------------------------------------------------------------- //
// 01 CONTAINER
// ------------------------------------------------------------------------- //
%container {
  margin: 0 auto;
  padding: 0 $container-padding-hor;
  max-width: $container-max-width;

  @media (max-width: 1340px) {
    padding: 0 40px;
  }

  @media (max-width: 1200px) {
    padding: 0;
  }
}

// ------------------------------------------------------------------------- //
// 02 ELLIPSIS
// ------------------------------------------------------------------------- //
@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
