// ------------------------------------------------------------------------- //
// BTN

// 01 BTN
// 02 BTN LINK
// ------------------------------------------------------------------------- //

// ------------------------------------------------------------------------- //
// 01 BTN
// ------------------------------------------------------------------------- //
.btn {
  position: relative;
  display: block;
  min-width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  font-family: $ff-primary;
  font-weight: bold;
  border-radius: 4px;
  background-color: none;
  border: none;
  outline: none;

  &.btn-primary {
    border: 1px solid #4d4d4d;
    color: #c3c3c3;
    background-image: linear-gradient(#5f5f5f, #444);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4), inset 0 1px 2px 0 rgba(255, 255, 255, 0.4);

    &:hover {
      background-image: linear-gradient(#444, #5f5f5f);
    }
  }

  &.btn-secondary {
    color: #949494;
    background-image: linear-gradient(#f6f6f6, #e3e3e3);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.17), 0 2px 2px 0 rgba(0, 0, 0, 0.03);
    transition: box-shadow 0.2s;

    &:hover {
      background-image: linear-gradient(#e3e3e3, #f6f6f6);
    }
  }

  &.btn-large {
    border-radius: 9px;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    min-width: 140px;
  }
}

// ------------------------------------------------------------------------- //
// 02 BTN LINK
// ------------------------------------------------------------------------- //
.btn-link {
  background: none;
  border: none;
  font-size: 16px;
  color: #444;
  font-family: $ff-primary;
  text-decoration: underline;
}
