// ------------------------------------------------------------------------- //
// CONTENT

// 00 CONFIG
// 01 CONTENT
// 02 CONTENT SECTION
// ------------------------------------------------------------------------- //

// ------------------------------------------------------------------------- //
// 00 CONFIG
// ------------------------------------------------------------------------- //
$content-title-color    : #121212;

// ------------------------------------------------------------------------- //
// 01 CONTENT
// ------------------------------------------------------------------------- //
.content {
  .content-header {
    display: flex;
    align-items: center;
    padding: 10px 0 0;
    margin: 0 0 22px;

    @media (max-width: 760px) {
      display: none;
    }

    .content-title {
      font-family: $ff-secondary;
      font-size: em(34);
      color: $content-title-color;
      line-height: 1;
    }

    .content-header-actions {
      flex: 0 0 auto;
      margin: 0 0 0 auto;

      .form-control {
        position: relative;
        top: 3px;
      }
    }
  }
}

// ------------------------------------------------------------------------- //
// 02 CONTENT SECTION
// ------------------------------------------------------------------------- //
.content-section {
  .content-section-header {
    margin: 0 0 30px;

    .content-section-title {
      font-size: em(28);
      font-family: $ff-secondary;
      position: relative;
      color: $content-title-color;

      @media (max-width: 760px) {
        left: 15px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        left: -25px;
        top: 50%;
        transform: translateY(-50%);
        width: 19px;
        height: 8px;
        background-color: #933435;
      }
    }
  }
}
