// ------------------------------------------------------------------------- //
// FOOTER

// 01 SOCIAL
// 02 FOOTER
// 03 FOOTER NAV
// ------------------------------------------------------------------------- //

// ------------------------------------------------------------------------- //
// 01 SOCIAL
// ------------------------------------------------------------------------- //
.social {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .social-link {
    display: block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }

    &.social1 {
      width: 40px;
      height: 47px;
      background-image: url('../images/social/social1.png');

      @media (max-width: 960px) {
        width: 36px;
        height: 36px;
      }
    }

    &.fb {
      width: 41px;
      height: 41px;
      background-image: url('../images/social/fb.png');

      @media (max-width: 960px) {
        width: 36px;
        height: 36px;
      }
    }

    &.pint {
      width: 35px;
      height: 41px;
      background-image: url('../images/social/pint.png');

      @media (max-width: 960px) {
        width: 32px;
        height: 36px;
      }
    }

    &.tw {
      width: 47px;
      height: 39px;
      background-image: url('../images/social/tw.png');

      @media (max-width: 960px) {
        width: 36px;
        height: 36px;
      }
    }

    &.ytb {
      width: 50px;
      height: 39px;
      background-image: url('../images/social/ytb.png');

      @media (max-width: 960px) {
        width: 38px;
        height: 30px;
      }
    }

    &.gh {
      width: 48px;
      height: 39px;
      background-image: url('../images/social/gh.png');

      @media (max-width: 960px) {
        width: 36px;
        height: 30px;
      }
    }
  }
}

// ------------------------------------------------------------------------- //
// 02 COPY
// ------------------------------------------------------------------------- //
.copy {
  display: flex;
  align-items: center;
  color: #444;
  font-size: 32px;

  .copy-sign {
    margin: 0 5px 0 0;
    position: relative;
    top: 3px;
  }

  .copy-brand {
    font-family: $ff-secondary;
  }
}

// ------------------------------------------------------------------------- //
// 02 FOOTER
// ------------------------------------------------------------------------- //
.footer {
  .footer-social {
    background-color: #151515;
  }

  .footer-social-container {
    @extend %container;
  }

  .footer-social-wrap {
    display: flex;
    padding: 20px $content-padding-hor;

    @media (max-width: 960px) {
      padding-left: $content-padding-hor-mobile;
      padding-right: $content-padding-hor-mobile;
    }

    .social {
      width: calc(100% - 20px - #{$aside-width});

      @media (max-width: 960px) {
        width: auto;
        flex: 1 1 auto;
      }
    }

    .copy {
      flex: 1 1 auto;
      justify-content: flex-end;

      @media (max-width: 960px) {
        display: none;
      }
    }
  }
}

// ------------------------------------------------------------------------- //
// 03 FOOTER CONTENT
// ------------------------------------------------------------------------- //
.footer-content {
  padding: 24px 0;
  background-color: #181818;

  .footer-container {
    @extend %container;
  }

  .footer-content-wrap {
    display: flex;
    padding: 0 $content-padding-hor;

    @media (max-width: 960px) {
      display: block;
      padding-left: $content-padding-hor-mobile;
      padding-right: $content-padding-hor-mobile;
    }

    .footer-section {
      max-width: 210px;

      @media (max-width: 960px) {
        flex: 1 1 auto;
        text-align: center;
        max-width: 100%;
        margin: 0 0 50px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:nth-child(1) {
        margin: 0 110px 0 0;

        @media (max-width: 960px) {
          margin: 0 0 50px;
        }
      }

      &:nth-child(2) {
        margin: 0 0 50px;
      }

      &.footer-notice {
        min-width: 275px;
        margin: auto 0 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        text-align: right;

        .footer-notice-img {
          margin: 0 0 20px;
          opacity: 0.5;
          transition: opacity 0.2s;
          cursor: pointer;

          &:hover {
            opacity: 1;
          }
        }

        .footer-notice-txt {
          font-size: 14px;
          color: #5c5c5c;
          font-family: $ff-primary;
        }

        @media (max-width: 960px) {
          display: block;
          max-width: 260px;
          margin: 0 auto 50px;
          text-align: center;
        }
      }

      &.footer-copy {
        display: none;

        .copy {
          justify-content: center;
        }

        @media (max-width: 960px) {
          display: block;
        }
      }

      .footer-section-title {
        margin: 0 0 15px;
        font-family: $ff-secondary;
        font-size: 26px;
        color: #444;
      }

      .footer-nav-list {
        .footer-nav-item {
          margin: 0 0 10px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        .footer-nav-link {
          font-size: 16px;
          font-family: $ff-secondary;
          color: #bbb;
        }
      }
    }
  }
}
