// ------------------------------------------------------------------------- //
// VARIABLES

// ------------------------------------------------------------------------- //
// 01 HEADER
// ------------------------------------------------------------------------- //
.header {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  background-image: url('../images/header/header-bg.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 10;

  @media (max-width: 760px) {
    height: $header-height-mobile;
  }

  .nav {
    margin-top: auto;

    @media (max-width: 760px) {
      display: none;
    }
  }

  .content-title {
    display: none;
    margin-top: auto;
    background-color: rgba(#000, 0.8);
    text-align: center;
    color: #fff;
    font-size: em(28);
    font-family: $ff-secondary;
    font-weight: normal;
    padding: 8px 0;

    @media (max-width: 760px) {
      display: block;
    }
  }

  .header-actions {
    display: none;

    @media (max-width: 760px) {
      display: flex;
      justify-content: space-between;
      padding: 20px $content-padding-hor-mobile 0;

      .btn-menu,
      .btn-search {
        display: block;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-color: transparent;
        border: none;
        outline: none;
      }

      .btn-menu {
        width: 30px;
        height: 24px;
        background-image: url('../images/icons/menu.svg');
      }

      .btn-search {
        width: 24px;
        height: 24px;
        background-image: url('../images/icons/search-white.svg');
      }
    }
  }
}
